#uploadColumnsBlock
	block()
	//flex-start-column()
	margin-left 10px
	#uploadColumnsListBlock > table
		listTable()
		width 100%
		table-layout fixed
		//border-spacing collapse
		
		tr:first-child
			th:nth-child(1)
				width normalInputWidth
			th:nth-child(2)
				width 0.6*normalInputWidth
		td
			vertical-align initial
		td:nth-child(1)
			width normalInputWidth
		td:nth-child(2)
			width 0.6*normalInputWidth
			select
				width 100%
		td.values
			div
				width 100%
				text-overflow ellipsis
				white-space nowrap
				overflow hidden
			span
				valuePreview()