imagesPath = '../images'

// Values
large-start-value = 768px
extra-large-start-value = 1180px
pc-start-value = 1370px
pc-large-start-value = 1600px

// Media Queries
sm = "only screen and (max-width: large-start-value)"
lm = "only screen and (min-width: large-start-value) and (max-width: extra-large-start-value)"
//lm = "only screen and (min-width: 48em)"
xm = "only screen and (min-width: extra-large-start-value) and (max-width: pc-start-value)"
xlm = "only screen and (min-width: pc-l;arge-start-value)"

// body.style
bodyBackgroundColor = #2D83BE
iframeBodyBackgroundColor = white

headerBgColor = #075783
headerTextColor = white
headerMenuBgColor = white
headerUserMenuImageSize = 100px
headerMenuPadding = 10px

footerBgColor = headerBgColor
footerContentHeight = 20px
footerContentPadding = 7px
footerHeight = footerContentHeight + 2*footerContentPadding
footerFontSize = 11px
footerFontColor = rgb(225, 225, 255)