#mainBlock
	#frm-changePasswordForm
		flex-start-column()
		width 100%
		input
			form-input()
		> table
			flexbox(flex)
			width 100%
			> tbody
				width 100%
				tr
					flex-start-row()
					width 100%
					th
						flex-justify(start)
						flex-self(center)
						min-width 125px
						label
							flex-start-row()
							padding 0 10px 0 0
					td
						width 100%
				tr:last-child
					th
						min-width 0
					td
						flex-start-row()
						flex-justify(space-between)
						input[name="save"]
							min-width 200px
						input[name="storno"]
							min-width 200px
							width auto
							margin-left 10px
