#mainBlock
	block()
	flex-center-column()
	width 35%
	+m_tablet()
		width 50%
	> form
		width 100%
	h1
		width 100%
		flex-start-row()
	#frm-forgottenPasswordForm
		flex-start-column()
		width 100%
		input
			form-input()
		> table
			flexbox(flex)
			width 100%
			> tbody
				width 100%
				tr:first-child
					flex-center-row()
					width 100%
					> th
						flex-start-row()
						flex-align(center)
						label
							padding 0
							padding-right 10px
							flex-center-row()
					> td
						flex(grow:2)
						> input
							max-width initial
							width 100%
				tr:not(:first-child)
					flex-start-row()
					> td
						width 100%
						flex-center-row()
						//flex-justify(space-around)
						input
							flex-justify(center)
							max-width 100px
							margin 0 5px 0 5px
