/*Styly pro patičku*/

#wrapper
	footer
		flexbox(flex)
		border-top 1px solid footerBgColor
		background footerBgColor
		background rgba(red(footerBgColor), green(footerBgColor), blue(footerBgColor), 0.4)
		color footerFontColor
		text-align center
		font-size 14px
		padding 0
		margin 0
		height footerHeight
		width 100%
		//position absolute
		left 0
		bottom 0
		
		div.content
			flex-center-row()
			flex-justify(space-between)
			width 100%
			height 100%
			font-size footerFontSize
			
			.disclaimer
				flexbox(flex)
				padding-left 20px
			//float left
			
			.copyright
				flexbox(flex)
				padding-right 20px
			//float right
			
			a
				font-size footerFontSize
				color footerFontColor
				padding-right 0.3em
				&:hover
					color white