//@import url(http://fonts.googleapis.com/css?family=Droid\+Sans:400,700);

//import variables for EMC
@import 'variables/variables.styl'
@import 'lib/mixins.styl'

//import basic shared styles
@import '../../submodules/EasyMiner-MiningUI/web/css.stylus/_mixins.styl'
@import 'lib/_mixinsEMC.styl'


//impot basic styles
@import 'base/boilerplate.styl'
@import 'lib/flexbox.styl'

//import layout styles
@import 'base/body.styl'
@import 'layout/header.styl'
@import 'layout/footer.styl'

@import '_flashMessages.styl'
@import '_overlay.styl'
@import '_preprocessing.styl'
@import '_user.styl'

//components
@import 'components/forms.styl'
@import 'components/pages/errorPage.styl'
@import 'components/pages/homepage.styl'
@import 'components/pages/loginPage.styl'
@import 'components/pages/registrationPage.styl'
@import 'components/pages/forgottenPasswordPage.styl'
@import 'components/pages/changePasswordPage.styl'

@import '_data.styl'
